<% obj.each do |recipe| %>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(/assets/burger.jpg);">
    <div class="card-category"></div>
    <div class="card-description">
      <h2><%= recipe.name %></h2>
      <p>Created <%= time_ago_in_words(recipe.created_at) %> ago</p>
    </div>
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    <%= link_to recipe.name, recipe_path(recipe), class: "card-link" %>
  </div>
</div>
<% end %>
