<div class="container">
  <div class="jumbotron center">
    <h1>Welcome to My Recipes</h1>
    <h2>The best recipe sharing app!</h2>
    <p><%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
      <%= link_to "Log in", "#", class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(/assets/burger.jpg);">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Tasty Burger</h2>
            <p>mmmm...delicious</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(/assets/burger.jpg);">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Tasty Burger</h2>
            <p>mmmm...delicious</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(/assets/burger.jpg);">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Tasty Burger</h2>
            <p>mmmm...delicious</p>
          </div>
        </div>
      </div>
    </div>
  </div>
